<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>HOTÉIS:</h1>
    
    <!-- <h3>CREATE:</h3>
    <form method="post" action="hotel/create" th:object="${hotel}">

        <div>
            <label>Nome:</label> 
            <input type="text" class="form-control" th:field="*{hotelName}">
        </div>

        <div>
            <label>Endereço:</label> 
            <input type="text" class="form-control" th:field="*{hotelAddress}">
        </div>

        <div>
            <label>Cidade:</label> 
            <input type="text" class="form-control" th:field="*{hotelCity}">
        </div>
        
        <button type="submit">Criar Hotel</button>
    
    </form> -->

    <!-- <h3>INFO</h3> -->
    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>OWNERID</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Cidade</th>
            </tr>
        </thead>
    
        <tbody>
            <tr th:each="hotel : ${hotelList}">

                <td><span th:text="${hotel.id}"></span></td>
                <td><span th:text="${hotel.ownerId}"></span></td>
                <td><span th:text="${hotel.hotelName}"></span></td>
                <td><span th:text="${hotel.hotelAddress}"></span></td>
                <td><span th:text="${hotel.hotelCity}"></span></td>

                <td>
                    <div>
                        <form method="post" action="#" th:action="@{/admin/hotel/update}">
                            <input type="hidden" name="hotelid" th:value="${hotel.id}">
                            <td><button class="btn-deletar">Editar</button></td>
                        </form>
                    </div>
                </td>

                <td>
                    <div>
                        <form method="post" action="#" th:action="@{/admin/hotel/delete}">
                            <input type="hidden" name="hotelid" th:value="${hotel.id}">
                            <td><button class="btn-deletar">Deletar</button></td>
                        </form>
                    </div>
                </td>

            </tr>

        </tbody> 

    </table>
    
</body>
</html>