<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>RESERVAS:</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>USERID</th>
                <th>HOTELID</th>
                <th>ROOMID</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                <th>Pessoas</th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservation : ${reservationList}">

                <td><span th:text="${reservation.id}"></span></td>
                <td><span th:text="${reservation.userId}"></span></td>
                <td><span th:text="${reservation.hotelId}"></span></td>
                <td><span th:text="${reservation.roomId}"></span></td>
                <td><span th:text="${reservation.checkInDate}"></span></td>
                <td><span th:text="${reservation.checkOutDate}"></span></td>
                <td><span th:text="${reservation.quantidadeDePessoas}"></span></td>
                <td><span th:utext="'R$ ' +${reservation.totalPrice}"></span></td>
                <td><span th:text="${reservation.roomType.roomType}"></span></td>

                <td>
                    <div>
                        <form method="post" action="#" th:action="@{/admin/reservation/update}">
                            <input type="hidden" name="reservationid" th:value="${reservation.id}">
                            <td><button class="btn-deletar">Editar</button></td>
                        </form>
                    </div>
                </td>

                <td>
                    <div>
                        <form method="post" action="#" th:action="@{/admin/reservation/delete}">
                            <input type="hidden" name="reservationid" th:value="${reservation.id}">
                            <td><button class="btn-deletar">Deletar</button></td>
                        </form>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    
</body>
</html>