<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/reserva.css" th:href="@{/css/reserva.css}"/>
    <script type="text/javascript" th:src = "@{/js/reserva.js}"></script>
    <title>Beevago Procurando Hoteis</title>
</head>

<body>
    <div class="main-home">
        <h1>B E V A G O</h1>

        <div class="welcome">
            <strong><span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span>, você pode reservar esse hotéis:</strong>            
        </div>        
                
        <!-- <div>
            <form method="get" action="/cadastrohotel">
                <button class="btn-registerhotel">Adicionar Hotel</button>
            </form>
        </div> -->

        <div class="container">

            <!-- <div class="row" style="padding-bottom: 30px;">
                <div class="col">
                    <a th:href="@"></a>
                </div>
            </div> -->

            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Cidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${HotelsList.empty}">
                            <td colspan="3">Não existem hoteis disponíveis.</td>
                        </tr>
                        <tr th:each="hotel : ${HotelsList}">
                            <td><span th:text="${hotel.hotelName}"></span></td>
                            <td><span th:text="${hotel.hotelAddress}"></span></td>
                            <td><span th:text="${hotel.hotelCity}"></span></td>
                            <td>
                                <div>
                                    <form method="get" action="/reservar">
                                        <button class="btn-reservar">Reservar</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
    </div>    
</body>

</html>