<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/reservations.css" th:href="@{/css/reservations.css}"/>
    <link rel="stylesheet" href="../../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../../static/css/footer.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" href="../../static/css/template.css" th:href="@{/css/template.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Beevago Reservas</title>
</head>

<body>
    
    <div th:replace="shared/header :: header"></div>

    <div class="reservations" th:if="${#objects.nullSafe(session?.usuarioLogado?:,null)}">

        <div class="welcome">
            <strong><span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span>, suas Reservas:</strong>            
        </div> 

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <strong>
                        <tr>
                            <th>Data de CheckIn</th>
                            <th>Date de CheckOut</th>
                            <th>Qtd. de Pessoas</th>
                            <th>Preço</th>
                        </tr>
                    </strong>                    
                </thead>
                <tbody>
                    
                    <tr th:each="reservation : ${ReservationsList}">
                        <td><span th:text="${reservation.checkInDate}"></span></td>
                        <td><span th:text="${reservation.checkOutDate}"></span></td>
                        <td><span th:text="${reservation.quantidadeDePessoas}"></span></td>
                        <td><span th:utext="'R$ ' +${reservation.totalPrice}"></span></td>                        
                    </tr>
                </tbody>
            </table>
        </div>

        </div>
                
    </div>
    
    <div th:replace="shared/footer :: footer"></div>

</body>

</html>