<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/reservar.css" th:href="@{/css/reservar.css}"/>
    <link rel="stylesheet" href="../../static/header/home.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../../static/footer/home.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" href="../../static/template/home.css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src = "@{/js/reservar.js}"></script>
    <title>Beevago Reservando Hotel</title>
</head>

<body>

    <div th:replace="shared/header :: header"></div>

    <div class="main-home">
        
        <div class="welcome">
            <strong><span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span>, faça sua reserva:</strong>                         
        </div>
        
        <div>

            <form method="post" action="#" th:action="@{/reservarquarto}" th:object="${reserva}">

                <div class="form-group">
                    <label>Data de CheckIn:</label>
                    <input type="date" th:field="*{checkInDate}" class="form-control">
                </div>

                <div class="formp-group">
                    <label>Data de CheckOut:</label>
                    <input type="date" th:field="*{CheckOutDate}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Quantidade de Pessoas:</label>
                    <input type="number" th:field="*{quantidadeDePessoas}" class="form-control">
                </div>
                
                <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,'null')}">
                <input type="hidden" name="hotelid" th:value="${hotel.hotelId}">
                <input type="hidden" name="roomid" th:value="${room.roomId}">
                <input type="hidden" name="roomtype" th:value="${room.roomType}">

                <button type="submit" class="btn_reservar">Reservar Quarto</button>

            </form>

        </div>
    </div>

        <div th:replace="shared/footer :: footer"></div>

</body>

</html>