<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/reservation.css" th:href="@{/css/reservation.css}"/>
    <link rel="stylesheet" href="../../static/header/home.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../../static/footer/home.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" href="../../static/template/home.css" th:href="@{/css/template.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Beevago Reservando</title>
</head>

<body>

    <div th:replace="shared/header :: header"></div>

    <div class="container">
        
        <div class="welcome">
            <strong><span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span>, faça sua reserva:</strong>                         
        </div>
        
        <div class="form">

            <form method="post" action="#" th:action="@{/reservarquarto}" th:object="${reserva}">

                <div class="form-group">
                    <label>Data de CheckIn:</label>
                    <input type="date" th:field="*{checkIn}" class="form-control" required="true">
                </div>

                <div class="formp-group">
                    <label>Data de CheckOut:</label>
                    <input type="date" th:field="*{checkOut}" class="form-control" required="true">
                </div>

                <div class="form-group">
                    <label>Quantidade de Pessoas:</label>
                    <input type="number" min="1" th:field="*{qntDePessoas}" class="form-control">
                </div>
                
                <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,'null')}">
                <input type="hidden" name="hotelid" th:value="${hotel.hotelId}">
                <input type="hidden" name="roomid" th:value="${room.roomId}">

                <div class="error" th:if="${errorMessage}">
                    <strong><div th:text="${errorMessage}"></div></strong>
                </div>

                <button type="submit" class="reservar-btn"><strong>Reservar Quarto</strong></button>

            </form>

        </div>
    </div>

        <div th:replace="shared/footer :: footer"></div>

</body>

</html>