<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <script type="text/javascript" th:src = "@{/js/hotel.js}"></script>
    <title>Beevago Admin do Hotel</title>
</head>

<body>
    <div class="main-home">
        <h1>B E E V A G O</h1>

        <div class="welcome">
            <h2>
                <strong><span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span>, sua Lista de Hotéis:</strong>            
            </h2>
        </div>

        <div class="container">
            <!-- <div class="row" style="padding-bottom: 30px;">
                <div class="col">
                    <a th:href="@"></a>
                </div>
            </div> -->

            <div>
                <form method="post" action="/cadastrohotel/cadastrando" th:object="${hotel}">
                    
                    <h3>Informações do novo Hotel:</h3>

                    <div class="form-group">
                        <label>Nome do Hotel:</label> 
                        <input type="text" class="form-control" th:field="*{hotelName}" placeholder="Nome do Hotel (2 a 48 caracteres)">
                    </div>
                    
                    <div class="form-group">
                        <label>Endereço do Hotel:</label> 
                        <input type="text" class="form-control" th:field="*{hotelAddress}" placeholder="Endereço (Máximo 512 caracteres)">
                    </div>
                
                    <div class="form-group">
                        <label>Cidade do Hotel:</label> 
                        <input type="text" class="form-control" th:field="*{hotelCity}" placeholder="Cidade (Máximo 128)">
                    </div>

                    <h3>Preços/Pessoas pela Categoria:</h3>

                    <div class="form-group">
                        <label>Standard:</label>
                        <input type="number" class="form-control" th:field="*{valByStandardType}" placeholder="Valor do Quarto Padrão">
                    </div>

                    <div class="form-group">
                        <label>Family:</label>
                        <input type="number" class="form-control" th:field="*{valByFamilyType}" placeholder="Valor do Quarto de Família">
                    </div>

                    <div class="form-group">
                        <label>Lux:</label>
                        <input type="number" class="form-control" th:field="*{valByLuxType}" placeholder="Valor do Quarto de Luxo">
                    </div>

                    <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,'null')}">
                    <button type="submit" class="btn_cadastrarhotel">Cadastrar Hotel</button>
                                
                </form>
            </div>

            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Cidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${HotelsList.empty}">
                            <td colspan="3">Não há hoteis registrados.</td>
                        </tr>
                        <tr th:each="hotel : ${HotelsList}">
                            <td><span th:text="${hotel.hotelName}"></span></td>
                            <td><span th:text="${hotel.hotelAddress}"></span></td>
                            <td><span th:text="${hotel.hotelCity}"></span></td>
                            <form method="get" action="#" th:action="@{adminhotel/roomsettings/{id}(id=${hotel.id})}">
                                <td><button class="btn-settingshotel">Configurações do Hotel</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
    </div>    
</body>

</html>