<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/register.css" th:href="@{/css/register.css}"/>
    <script type="text/javascript" th:src = "@{/js/register.js}"></script>
    <title>Bivago Cadastro</title>
</head>

<body>

    <div class="Login-form">
        <div class ="container">
            <div class="main-div">
                <div class = "header">
                    <h2>B I V A G O</h2>
                    <p>Cadastre no nosso site para poder fazer sua reserva.</p>
                </div>
            
                <form method="post" action="cadastro/cadastrando" th:object="${user}">

                    <div class="form-group">
                        <label>Nome:</label> 
                        <input type="text" class="form-control" th:field="*{userName}" placeholder="Nome Completo (3 a 120 caracteres)">
                    </div>

                    <div class="form-group">
                        <label>Email:</label> 
                        <input type="email" class="form-control" th:field="*{userEmail}" placeholder="Deve ser um Email Válido.">
                    </div>

                    <div class="form-group">
                        <label>CPF:</label> 
                        <input type="text" class="form-control" th:field="*{userCpf}" placeholder="000.000.000-00">
                    </div>

                    <div class="form-group">
                        <label>Data de Nascimento:</label> 
                        <input type="date" class="form-control" th:field="*{userBirthday}">
                    </div>

                    <div class="form-group">
                        <label>Nova Senha:</label> 
                        <input type="password" class="form-control" th:field="*{userPassword}" placeholder="Senha deve conter entre 8 e 32 caracteres.">
                    </div>

                    <div class="form-group">
                        <label>Confirmar Senha:</label> 
                        <input type="password" class="form-control" th:field="*{userConfirmedPassword}" placeholder="Confirme sua Senha.">
                    </div>
                    
                    <button type="submit" class="btn_cadastrar">Cadastrar</button>

                    <div class="login">
                        <a th:href="@{login}">Já possui uma Conta? Clique Aqui.</a>
                    </div>
                    <!-- <button type="button" class="btn_login" onclick="redirectLogin()">Fazer Login</button> -->
                
                </form>

            </div> 
        </div>
    </div>
        
</body>

</html>