.second-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    flex-direction: column;
}

.welcome {
    color: white;
    margin-left: 12px; 
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.search {
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    margin-left: 12px; 
    margin-right: 20px;
    margin-bottom: 20px;
}

.container {
    background-color: rgb(41, 41, 41);
    border: 5px;
    border-radius: 5px;
    border-style: solid;
    color: aliceblue;
    display: grid;
    margin-top: 20px;
    padding: 12px;
    margin-left: 100px;
    margin-right: 100px;
}

.row {
    margin-left: 150px;
}

.hoteltables-columns {
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* margin-left: 10px; */
}

/* .hoteltables-columns-items {
    display: flex;
} */
