.form{ 
    width: 600px;
    height: 200px;
    margin: auto;
    color: aliceblue;
}

.container {
    background-color: rgb(41, 41, 41);
    border: 5px;
    border-radius: 5px;
    border-style: solid;
    color: aliceblue;
    display: grid;
    margin-top: 20px;
    padding: 12px;
    margin-left: 100px;
    margin-right: 100px;
}

.form-group {
    margin-top: 30px;
}

.btn-div {
    margin-top: 30px;
    margin-left: 150px;
}

.login-btn {
    border-style: none;
    border-radius: 5px;
    background-color: #ecc900;
    padding: 5px;
}

.register {
    margin-top: 30px;
}