.form{
    width: 500px;
    height: 400px;
}

.container {
    background-color: rgb(41, 41, 41);
    border: 5px;
    border-radius: 5px;
    border-style: solid;
    color: aliceblue;
    display: grid;
    margin-top: 20px;
    padding: 12px;
    margin-left: 100px;
    margin-right: 100px;
}