.container {
    background-color: rgb(41, 41, 41);
    border: 5px;
    border-radius: 5px;
    border-style: solid;
    color: aliceblue;
    display: grid;
    margin-top: 20px;
    padding: 12px;
    margin-left: 100px;
    margin-right: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 350px;
    margin: auto;
    color: aliceblue;
    margin-top: 20px;
}

.form-group {
    margin-top: 20px;
    max-width: 400px;
    min-width: 200px;
    font-weight: 400;
    text-transform: uppercase;
    /* margin: 0 auto; */
    transition: .3s;
}

.btn-div {
    margin-top: 20px;
}

.register-btn {
    border-style: none;
    border-radius: 5px;
    background-color: #ecc900;
    padding: 5px;
}

.register {
    margin-top: 20px;
}