body {
    background-color: rgb(26, 26, 26);
    padding-top: 80px;
    font-family: Roboto, Arial;
    padding-bottom: 80px;
}

.welcome {
    color: white;
    margin-left: 12px; 
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.welcome span {
    color: #ecc900;
}

.error {
    color: rgb(212, 0, 0);
    margin-top: 10px;
}

.form input{
    border-radius: 5px;
    padding: 8px;
    margin-top: -10px;
}

.form {
    height: 405px;
    margin-top: 0px;
}

/* .form {
    margin-top: 80px;
    color: white;
    margin-left: 60px;
    border: white;
    border-style: solid;
    font-size: 20px;
    padding-top: 100px;
    padding-left: 20px;
}

.form div {
    margin-bottom: 20px;
} */