<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="../../static/css/settings.css" th:href="@{/css/home.css}"/> -->
    <!-- <script type="text/javascript" th:src = "@{/js/settings.js}"></script> -->
    <title>Beevago Home</title>
</head>

<body>

    <div class="ChangingUsername-form">
        <div class ="container">
            <div class="main-div">
                <div class = "header">
                    <h2>Alterar Nome:</h2>                    
                </div>
            
                <form method="post" action="postchangingusername" th:object="${user}">

                    <div class="alert alert-danger" role="alert" th:if="${msg}">
                        <strong th:text="${msg}"></strong>   
                    </div>

                    <div class="form-group">
                        <label>Email do Usuário:</label> 
                        <input type="email" th:field="*{userEmail}" class="form-control" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Senha do Usuário:</label> 
                        <input type="password" th:field="*{userPassword}" class="form-control" placeholder="">
                    </div>
                    
                    <div class="newUserName">
                        <label>Novo nome do Usuário:</label> 
                        <input type="text" th:field="*{userName}" class="form-control" placeholder="">
                    </div>
                    
                    <button type="submit" class="btn_login">Alterar Nome</button>                  
                
                </form>

            </div> 
        </div>
    </div>

</body>

</html>