<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/room.css" th:href="@{/css/room.css}"/>
    <script type="text/javascript" th:src = "@{/js/room.js}"></script>
    <title>Beevago Quartos do Hotel</title>
</head>

<body>
    <div class="main-home">
        <h1>B E E V A G O</h1>

        <div class="welcome">
            <tbody>
                <strong><span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span>, Quartos registrados no Hotel                        
                        <tr th:each="hotel : ${HotelName}">
                            <td><span th:text="${hotel.hotelName}"></span></td>
                        </tr>
                </strong>
            </tbody>            
        </div>
        
        <div>
            <form method="post" action="#" th:action="@{|/cadastrarquarto/${id}|}" th:object="${room}">
                
                <div class="form-group">
                    <label>Número do Quarto:</label> 
                    <input type="number" class="form-control" th:field="*{roomNumber}" placeholder="Número do Quarto">
                </div>

                <div class="form-group">
                    <label>Categoria do Quarto:</label>
                      <select th:field="*{roomType}">
                        <option                                                       
                            th:each="room : ${roomtypes}"
                            th:text="${room.roomType}"
                            th:value="${room}">
                        </option>                        
                    </select>
                </div>                              
            
                <div class="form-group">
                    <label>Capacidade do Quarto:</label> 
                    <input type="number" class="form-control" th:field="*{roomCapacity}" placeholder="Capacidade">
                </div>
        
                <button type="submit" class="btn_cadastrarquarto">Adicionar Quarto</button>
    
            </form>
        </div>

        <div class="container">
            <!-- <div class="row" style="padding-bottom: 30px;">
                <div class="col">
                    <a th:href="@"></a>
                </div>
            </div> -->

            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Categoria</th>
                            <th>Capacidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${RoomsList.empty}">
                            <td colspan="3">Não existem quartos disponíveis.</td>
                        </tr>
                        <tr th:each="room : ${RoomsList}">
                            <td><span th:text="${room.roomNumber}"></span></td>
                            <td><span th:text="${room.roomType.roomType}"></span></td>
                            <td><span th:text="${room.roomCapacity}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
    </div>    
</body>

</html>