<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/room.css" th:href="@{/css/room.css}"/>
    <link rel="stylesheet" href="../../static/header/home.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="../../static/footer/home.css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" href="../../static/template/home.css" th:href="@{/css/template.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src = "@{/js/room.js}"></script>
    <title>Beevago Quartos do Hotel</title>
</head>

<body>

    <div th:replace="shared/header :: header"></div>
    
    <div class="main-home" >

        <div class="welcome">
            <tbody>
                <strong><span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span>, Quartos registrados no Hotel                        
                        <span th:text="${HotelName}"></span>
                </strong>
            </tbody>            
        </div>
        
        <div class="container">
            <div class="form">            
                <form method="post" action="#" th:action="@{/settings/hotelsettings/registerroom}" th:object="${room}">
                    
                    <div class="form-group">
                        <label>Número do Quarto:</label> 
                        <input type="number" class="form-control" th:field="*{roomNumber}" placeholder="Número do Quarto">
                    </div>                                            
                
                    <div class="form-group">
                        <label>Capacidade do Quarto:</label> 
                        <input type="number" min="1" class="form-control" th:field="*{roomCapacity}" placeholder="Capacidade">
                    </div>

                    <div class="form-group">
                        <label>Preço do Quarto:</label> 
                        <input type="number" class="form-control" th:field="*{roomPrice}" placeholder="R$ 0,00">
                    </div>

                    <div class="form-group">
                        <label>Categoria do Quarto:</label>
                        <select th:field="*{roomType}">
                            <option                                                       
                                th:each="room : ${roomtypes}"
                                th:text="${room.roomType}"
                                th:value="${room}">
                            </option>                        
                        </select>
                    </div>
                    
                    <input type="hidden" name="hotelId" th:value="${HotelId}">
                    <button type="submit" class="cadastrarquarto-btn"><strong>Adicionar Quarto</strong></button>
        
                    <div class="error" th:if="${errorMessage}">
                        <strong><div th:text="${errorMessage}"></strong></div>
                    </div>
                </form>
            </div>
        </div>        

        <div class="row">
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Categoria</th>
                        <th>Capacidade</th>
                        <th>Preço</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:if="${RoomsList.empty}">
                        <td colspan="3">Não existem quartos disponíveis.</td>
                    </tr>
                    <tr th:each="room : ${RoomsList}">
                        <td><span th:text="${room.roomNumber}"></span></td>
                        <td><span th:text="${room.roomType.roomType}"></span></td>
                        <td><span th:text="${room.roomCapacity}"></span></td>
                        <td><span th:utext="'R$ '+${room.roomPrice}"></span></td>
                    </tr>
                </tbody>
                
            </table>
        </div>        
                
    </div>
    
    <div th:replace="shared/footer :: footer"></div>

</body>

</html>