<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/home.css" th:href="@{/css/home.css}"/>
    <script type="text/javascript" th:src = "@{/js/home.js}"></script>
    <title>Beevago Home</title>
</head>

<body>
    <div class="main-home">
        <div class="header">
            <div class="bee-img">
                <img class="bee-icon" th:src="@{/image/bee.svg}">
            </div>
            <div class="beevago">
                <h1>
                    <font color="#ecc900">B E E</font>
                    <font color="#000000">V A</font>
                    <font color="#000000">G O</font>
                </h1>
            </div>                   
                
            <div class="register-btns">
                <div>
                    <form method="get" action="/cadastro">
                        <button class="btn-register">Criar conta</button>
                    </form>
                </div>

                <div>
                    <form method="get" action="/login">
                        <button class="btn-login">Login</button>
                    </form>
                </div>
                
                <div>
                    <form method="get" action="#" th:action="@{/settings}">
                        <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,null)}">
                        <button type="submit" class="btn-settings">Configs</button>
                    </form>
                </div>

                <div>
                    <form method="post" action="logout">
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="second-header">
            <div class="welcome">
                <strong>Bem Vindo, <span th:text="${#objects.nullSafe(session?.usuarioLogado?.userName,'Anônimo')}"></span></strong>
            </div> 

            <div class="search">
                <form method="post" th:action="@{/buscar}">
                    <div>
                        <input type="search" class="form-control" name="searchcity" placeholder="Para onde desejas ir?">
                        
                            <select name="categoryfilter">
                                <option text="Filtrar Categoria"></option>
                                <option 
                                    th:each="room : ${categoriesList}"
                                    th:text="${room.roomType}"
                                    th:value="${room}">
                                </option>                        
                            </select>                        

                        <input class="btn-find" type="submit" value="Buscar">                    
                    </div>                
                </form>
            </div>
        </div>

        <div class="hoteltables">
            <h2> Hotéis disponíveis:
                <tr th:each="hotel : ${hotelCity}">
                    <td><span th:text="${hotel.hotelCity}"></span></td>
                </tr>                  
            </h2>
            <table class="table-table-striped">                                              
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Cidade</th>
                        <th>Categoria</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="room : ${RoomsList}">
                        <td><span th:text="${room.roomHotelName}"></span></td>
                        <td><span th:text="${room.roomHotelAddress}"></span></td>
                        <td><span th:text="${room.roomHotelCity}"></span></td>
                        <td><span th:text="${room.roomType.getRoomType}"></span></td>
                        <td><span th:text="${room.roomPrice}"></span></td>
                        
                        <td>
                            <div>
                                <form method="get" action="#" th:action="@{/reservar}">
                                    <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,null)}">
                                    <input type="hidden" name="hotelid" th:value="${room.hotelId}">
                                    <input type="hidden" name="roomid" th:value="${room.id}">
                                    <input type="hidden" name="roomtype" th:value="${room.roomType}">
                                    <td><button class="btn-reservar">Reservar</button></td>
                                </form>
                            </div>
                        </td>

                    </tr>
                    <!--
                    <tr th:each="hotel : ${HotelsList}">
                        <td><span th:text="${hotel.hotelName}"></span></td>
                        <td><span th:text="${hotel.hotelAddress}"></span></td>
                        <td><span th:text="${hotel.hotelCity}"></span></td>
                        <td><span th:text="${categories[1].getRoomType()}"></span></td>
                        <td><span th:text="${hotel.valByFamilyType}"></span></td>
                    
                        <td>
                            <div>
                                <form method="get" action="#" th:action="@{/reservar}">
                                    <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,null)}">
                                    <input type="hidden" name="hotelid" th:value="${hotel.id}">
                                    <input type="hidden" name="roomtype" th:value="${categories[1]}">
                                    <td><button class="btn-reservar">Reservar</button></td>
                                </form>
                            </div>
                        </td>

                    </tr>

                    <tr th:each="hotel : ${HotelsList}">
                        <td><span th:text="${hotel.hotelName}"></span></td>
                        <td><span th:text="${hotel.hotelAddress}"></span></td>
                        <td><span th:text="${hotel.hotelCity}"></span></td>
                        <td><span th:text="${categories[0].getRoomType()}"></span></td>
                        <td><span th:text="${hotel.valByLuxType}"></span></td>
                    
                        <td>
                            <div>
                                <form method="get" action="#" th:action="@{/reservar}">
                                    <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,null)}">
                                    <input type="hidden" name="hotelid" th:value="${hotel.id}">
                                    <input type="hidden" name="roomtype" th:value="${categories[0]}">
                                    <td><button class="btn-reservar">Reservar</button></td>
                                </form>
                            </div>
                        </td>

                    </tr>
                    
                    <tr th:each="hotel : ${HotelList}">
                        <td><span th:text="${hotel.hotelName}"></span></td>
                        <td><span th:text="${hotel.hotelAddress}"></span></td>
                        <td><span th:text="${hotel.hotelCity}"></span></td>
                        <td><span th:text="${categories}"></span></td>
                        <td><span th:if='${valRoomType == "valByStandardType"}' th:text="${hotel.valByStandardType}"></span>
                            <span th:if='${valRoomType == "valByFamilyType"}' th:text="${hotel.valByFamilyType}"></span>
                            <span th:if='${valRoomType == "valByLuxType"}' th:text="${hotel.valByLuxType}"></span></td>

                        <td>
                            <div>
                                <form method="get" action="#" th:action="@{/reservar}">
                                    <input type="hidden" name="userid" th:value="${#objects.nullSafe(session?.usuarioLogado?.id,null)}">
                                    <input type="hidden" name="hotelid" th:value="${hotel.id}">
                                    <input type="hidden" name="roomtype" th:value="${categories}">
                                    <td><button class="btn-reservar">Reservar</button></td>
                                </form>
                            </div>
                        </td>

                    </tr>
                -->
                </tbody>
            </table>
        </div>
        <div class="footer">
            <div class="play-txt">
                <p>JOGUE</p>
            </div>
            <div class="letris-img">
                <a href="https://github.com/8enrich/Letris" target="_blank"><img class="letris-icon" th:src="@{/image/letris-logo.png}"></a>
            </div>
        </div>
    </div>    
</body>

</html>